/* Estilos específicos para la página de películas */
main.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
    padding: 30px;
    max-width: 1400px;
    margin: 0 auto;
}

.movie-card {
    background-color: #fdfaf3;
    border: 2px solid #a18046;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie-card:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.8);
}

.movie-card img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-bottom: 2px solid #a18046;
}

.card-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.card-content h2 {
    font-size: 1.6em;
    margin-top: 0;
}

.card-content p {
    line-height: 1.6;
    text-align: justify;
    margin-top: auto;
}